.clube-item {
	background: #ededed;

	h3 {
		margin-bottom: 10px;
	}

	.calendar-item {
		background: #fff;
		padding: 20px;
		box-shadow: none;
		border: 1px solid #ccc;

		h4 {
			margin-top: 5px;
			margin-bottom: 0;
		}

		img {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-top: -20px;
		}

		p {
			font-size: .8rem;
			line-height: 150%;
			margin-bottom: .7rem;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}

	&.youtube {
		background: #ddd;
		padding-bottom: 75px;

		.playlists {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
		}

		.video-card {
			background: #fff;
			box-shadow: none;
			border: 1px solid #ccc;

			h4 {
				padding: 10px 20px 0;
			}

			small {
				line-height: 110%;
				display: block;
				padding: 0 20px 10px;
			}

			.video-card-scroller {
				max-height: 15rem;
				overflow-y: scroll;
			}

			.video-item {
				border-bottom: 1px solid #ccc;
				padding: 0 20px 10px;
				display: block;

				&:hover {
					background: #ededed;
					transition: all .3s;
				}

				&:last-of-type {
					border-bottom: none;
				}

				&:first-of-type {
					border-top: 1px solid #ccc;
				}

				h5 {
					font-size: .8rem;
					padding-top: 6px;
					margin-bottom: 0;
					font-weight: normal;
				}
			}
		}
	}
}