.clube-livro {
	padding-top: 50px;
}

.clube-item {
	background: #ededed;
	width: calc(100% + 150px);
	margin-left: -75px;
	padding: 20px 75px;

	h3 {
		margin-bottom: 10px;
	}

	.calendar-item {
		background: #fff;
		padding: 20px;

		h4 {
			margin-top: 5px;
			margin-bottom: 0;
		}

		img {
			width: calc(100% + 40px);
			margin-left: -20px;
			margin-top: -20px;
		}
	}

	&.youtube {
		background: #ddd;
		padding-bottom: 75px;

		.video-card {
			background: #fff;

			h4 {
				padding: 10px 20px 0;
			}

			small {
				line-height: 110%;
				display: block;
				padding: 0 20px 10px;
			}

			.video-card-scroller {
				max-height: 15rem;
				overflow-y: scroll;
			}

			.video-item {
				border-bottom: 1px solid #ccc;
				padding: 0 20px 10px;
				display: block;

				&:hover {
					background: #ededed;
					transition: all .3s;
				}

				&:last-of-type {
					border-bottom: none;
				}

				&:first-of-type {
					border-top: 1px solid #ccc;
				}

				h5 {
					font-size: .8rem;
					padding-top: 6px;
					margin-bottom: 0;
					font-weight: normal;
				}
			}
		}
	}
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 990px) {
	.clube-livro {
		padding-top: 35px;
	}

	.clube-item {
		width: calc(100% + 70px);
		margin-left: -35px;
		padding: 20px 35px;

		&.youtube {
			padding-bottom: 35px;
		}
	}
}

@media screen and (max-width: 480px) {}