footer {
	padding: 50px 75px;
	margin: 0 auto 3rem;
	font-family: 'Consolas', 'Courier New', Courier, monospace;

	img {
		width: auto;
		margin-bottom: 10px;
	}

	.social {
		a {
			font-size: 1.6rem;
			margin-right: .8rem;
			color: #0559C1;

			&:hover {
				color: #1d5bbc;
				transition: all .3s;
			}

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.creative-commons {
		max-width: 680px;
		margin: -1rem auto;
		font-size: .8rem;
		line-height: 125%;

		img {
			height: 22px !important;
			margin-left: 3px;
			vertical-align: text-bottom;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 990px) {
	footer {
		padding: 35px;
		margin-bottom: 1rem !important;
	}
}