.photo-gallery {
	display: flex;
	gap: 1rem;

	&.row-photos-4 {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}

	&.row-photos-5 {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	}
}