.podcast {
	padding-top: 50px;
}

.podcast-list {
	height: 33.56rem;
	overflow-y: scroll;
	padding: 10px 75px 0;

	.podcast-item {
		position: relative;
		display: flex;
		margin-bottom: 1.5rem;

		.podcast-item-cover {
			position: relative;
			margin-right: 1rem;
			max-height: 100px;

			img {
				width: 100px;
			}
		}

		.podcast-item-detail {
			display: flex;
			flex-direction: column;

			h3 {
				font-size: 1.2rem;
				line-height: 125%;
				margin: 0
			}

			.btn {
				margin: auto 0 0;
				min-height: 0;
				line-height: 100%;

				span {
					display: inline-block;
					position: relative;
					top: -.2rem;
				}

				svg {
					font-size: 1.2rem !important;
				}
			}
		}

		&:hover {
			.podcast-item-cover img {
				-webkit-filter: grayscale(100%);
				-moz-filter: grayscale(100%);
				-ms-filter: grayscale(100%);
				-o-filter: grayscale(100%);
				filter: grayscale(100%);
				transition: all .4s
			}

			.btn {
				color: #1db954 !important;
				transition: all .4s
			}
		}

		small {
			color: #666;
			line-height: 167%;
		}

		img {
			box-shadow: 0 0 .6rem #666;
		}
	}
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 990px) {
	.podcasts .showcase {
		padding-top: 35px !important;
	}
}

@media screen and (max-width: 480px) {}