.post-morten {
	.post-morten-list {
		padding: 20px 0 0;
		display: grid;
		gap: 1rem;
		grid-template-columns: repeat(3, 1fr);
		align-items: stretch;

		.post-morten-item {
			display: flex;
			flex-direction: column;

			img {
				height: 13rem;
				object-fit: cover;
			}

			.post-morten-item-content {
				background: #fff;
				border: 1px solid #ccc;
				border-top: none;
				padding: 10px 20px 15px;
				height: calc(100% - 13rem);
				display: flex;
				flex-direction: column;

				h3 {
					margin: 0;
				}

				p {
					font-size: .9rem;
					line-height: 135%;
					text-align: justify;
					margin: 0;

					&:last-of-type {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}