article {
	position: relative;
	z-index: 9;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
	-webkit-transform: translate3d(0%, 0, 0);
	-moz-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-ms-transition-property: -ms-transform;
	-o-transition-property: -o-transform;
	transition-delay: 0;
	-webkit-transition-property: transform;
	-webkit-transition-duration: .5s;
	-webkit-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
	-webkit-transition-delay: 0;
	-moz-transition-property: transform;
	-moz-transition-duration: .5s;
	-moz-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
	-moz-transition-delay: 0;
	-ms-transition-property: transform;
	-ms-transition-duration: .5s;
	-ms-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
	-ms-transition-delay: 0;
	-o-transition-property: transform;
	-o-transition-duration: .5s;
	-o-transition-timing-function: cubic-bezier(.33, 0, .2, 1);
	-o-transition-delay: 0;
	transition-property: transform;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(.33, 0, .2, 1);
	-transition-delay: 0;
	background-color: #fff;

	&.is--pushed-right {
		-webkit-transform: translate3d(45%, 0, 0);
		-moz-transform: translate3d(45%, 0, 0);
		-ms-transform: translate3d(45%, 0, 0);
		-o-transform: translate3d(45%, 0, 0);
		transform: translate3d(45%, 0, 0)
	}

	.header {
		width: 45%;
		position: absolute;
		overflow: hidden;
		height: 100%;
		background-color: #222;
		z-index: 0;

		img {
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			height: 100vh;
			object-fit: cover;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%)
		}

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.5);
			z-index: 0
		}

		.info {
			margin: 15vh 75px 0;
			position: relative;
			z-index: 1;
			display: flex;

			h1,
			.meta {
				color: #fff;
			}

			h1 {
				font-size: 2.5rem;
				line-height: 150%;
				font-weight: 700;
				text-transform: lowercase;
			}

			.meta {
				font-size: 1rem;

				&::after {
					content: "";
					display: inline-block;
					width: 1.5rem;
					margin: 0 1rem 5px;
					height: 1px;
					color: inherit;
					border-top: 1px solid
				}
			}

			.info-title {
				margin-left: 1.5rem;
			}

			.see-posts-button {
				color: #fff;
				font-size: 2rem;
				line-height: 4rem;
				z-index: 3;
				cursor: pointer;
				-webkit-transform: translate3d(0%, 0, 0);
				-moz-transform: translate3d(0%, 0, 0);
				-ms-transform: translate3d(0%, 0, 0);
				-o-transform: translate3d(0%, 0, 0);
				transform: translate3d(0%, 0, 0);
				-webkit-transition: all .3s ease-in;
				-moz-transition: all .3s ease-in;
				-ms-transition: all .3s ease-in;
				-o-transition: all .3s ease-in;
				transition: all .3s ease-in
			}
		}
	}

	section {
		width: 55%;
		margin-left: 45%;
		padding: 15vh 75px 50px;
		height: 100%;
		background-color: #fff;
		overflow: hidden;
		overflow-y: scroll;

		h1 {
			font-size: 2.5rem;
			line-height: 150%;
			font-weight: 700;
			color: #000 !important;
			margin-bottom: 15px
		}

		h4 .notion-h-title {
			display: block;
			font-size: 1.5rem;
			font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			line-height: 1.6rem;
			margin-top: 3rem;
		}

		.notion-inline-code {
			font-size: .9rem;
			line-height: .9rem;
			background: #f5f5f5;
			padding: 4px 8px;
			border: 1px solid #ccc;
			border-radius: 30px;
		}

		.notion-code {
			margin-bottom: 1rem;
		}

		.notion-text,
		.notion-quote {
			font-size: 1.1rem;
			line-height: 2rem;
			margin: 0.2rem 0 2rem;
			color: #666;
		}

		li {
			margin: 0;
			font-size: 1.1rem;
			line-height: 150%;
		}

		.notion-blank,
		.notion-hash-link {
			display: none;
		}
	}

	.hashtag {
		display: inline-block;
		margin-right: 1rem;
		margin-top: 1.5rem;
		color: #9b9b9b;
		font-size: .8rem;
		letter-spacing: 1px;
		text-transform: lowercase;
		font-family: Consolas, monospace;

		&:hover {
			color: #666;
			transition: all .3s;
		}
	}

	.info .hashtag {
		margin-top: 0;
		color: #fff;

		&:hover {
			color: #9b9b9b;
		}
	}
}

.post-related-list {
	width: 45%;
	position: absolute;
	z-index: 9;
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 50px 75px;

	h2 {
		line-height: 3.75rem;
		margin-top: calc(15vh - 50px);
		margin-bottom: 2rem;
	}

	.blog-item {
		padding: 20px 30px;
		height: 250px;

		h3 {
			line-height: 115%;
		}
	}
}

.notion-yt-lite {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}

.notion-yt-lite::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	width: 100%;
	height: 60px;
	padding-bottom: 50px;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.notion-yt-lite > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.notion-yt-playbtn {
	width: 68px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	filter: grayscale(100%);
	transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
	border: none;
}

.notion-yt-lite:hover > .notion-yt-playbtn,
.notion-yt-youtube .notion-yt-playbtn:focus {
	filter: none;
}

.notion-yt-initialized {
	cursor: unset;
}

.notion-yt-initialized::before,
.notion-yt-initialized > .notion-yt-playbtn {
	opacity: 0;
	pointer-events: none;
}

.notion-yt-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media screen and (min-width: 2200px) {
	article {
		.header {
			width: calc(50% - 500px);

			.see-posts-button {
				display: none;
			}
		}

		section {
			width: 1000px;
			margin: auto;
		}
	}

	.post-related-list {
		position: absolute;
		right: 0;
		width: calc(50% - 500px);
		z-index: 10;
	}
}

@media screen and (max-width: 1300px) {
	article {
		.post-related-list {
			padding: 50px 40px;
		}
	}
}

@media screen and (max-width: 990px) {
	article {
		overflow: visible;
		position: absolute;

		&.is--pushed-right {
			-webkit-transform: translate3d(80%, 0, 0);
			-moz-transform: translate3d(80%, 0, 0);
			-ms-transform: translate3d(80%, 0, 0);
			-o-transform: translate3d(80%, 0, 0);
			transform: translate3d(80%, 0, 0)
		}

		.header,
		section {
			width: 100%;
			position: relative;
			height: auto;
			padding: 60px;
		}

		.header {
			.info {
				margin: 6rem 0 12rem;

				h1 {
					margin-bottom: .2rem;
				}
			}
		}

		section {
			margin-left: 0;
			overflow: visible;
			box-shadow: none;
			margin-bottom: 0;
		}
	}

	.post-related-list {
		width: 80%;
		padding: 50px 35px;

		h2 {
			margin-top: calc(6rem + 10px);
		}
	}
}

@media screen and (max-width: 540px) {
	article {

		.header,
		section {
			padding: 35px;
			z-index: 10;
		}

		article.is--pushed-right {
			.header {
				.see-posts-button {
					margin-left: -40px;
				}

				.info-title {
					margin-left: 13px;
				}
			}
		}

		.post-related-list {
			padding: 35px;

			.blog-item {
				width: 100%;
			}
		}
	}

	.post-related-list {
		padding: 50px 20px;
	}
}