.shelf .section-content {
	display: grid;
	grid-template-columns: 1fr 2fr;

	.sticky {
		position: sticky;
		top: 2rem;
	}

	.shelf-content {
		.blog-item {
			.post-date {
				position: absolute;
				width: 100%;
				text-align: center;
				top: 88px;
				left: 0;
				margin: 0;
				background: rgba(0, 0, 0, 0.4);
				padding: 4px 20px;
				height: 24px;
			}
		}

		&.blog-grid-big {
			grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		}
	}
}

@media screen and (max-width: 1000px) {
	.shelf .section-content {
		display: flex;
		flex-direction: column;

		.shelf-content {
			&.blog-grid-big {
				grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
			}
		}
	}
}