section {
	padding: 0 75px;
	position: relative;
	width: 100%;
	margin: 0 auto 3rem;
	background: #f8f8f8;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
}

section {
	.showcase:not(.half) {
		height: 100%;
		position: relative;
		padding: 50px 0;

		.showcase-right {
			div {
				position: absolute;
				z-index: 0;
				margin-top: -50px;
				width: calc(50% + 75px);
				height: 100%;
				margin-left: -20px;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
				background-position-x: right;
			}

			img {
				position: relative;
				right: 11rem;
				top: 2rem;
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
			}
		}
	}

	.showcase.half {
		display: flex;
		flex-direction: column-reverse;
		padding-bottom: 2rem;

		div {
			width: 100%;
			margin: 0;

			&.showcase-bg {
				margin-left: -75px;
				width: calc(100% + 150px);
				height: 16rem;
				background-attachment: fixed;
				background-repeat: no-repeat;
				background-size: cover;
				background-position-x: right;
			}

			img {
				width: 15rem;
				margin-top: -10rem;
				box-shadow: 0 4px 30px rgba(0, 0, 0, 0.25);
			}
		}
	}
}

body {
	font-size: 15px;
	line-height: 2em;
	color: #5f5f5f;
	position: relative;
	background: #e8e8e8
}

.container {
	width: 1500px;
	margin: 0 auto;

	&::after {
		content: '\0020';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

section .container p {
	margin-bottom: 40px;
}

.wrapper {
	padding: 75px;
}

@media screen and (max-width: 1200px) {
	section {
		width: 100%;
		padding: 0 50px;
	}
}

@media screen and (max-width: 990px) {
	.container {
		max-width: 940px;
		width: 100%;
		/*	.row {
			.col-md-6 {
				padding: 0;
				margin: 0;
			}
		} */
	}

	.wrapper {
		padding: 35px;
	}

	section {
		padding: 0 35px;

		.showcase {
			display: flex;
			flex-direction: column-reverse;
			padding-top: 0 !important;
			padding-bottom: 2rem;
			position: unset !important;

			div {
				width: 100% !important;
				margin: 0 !important;
				position: unset !important;

				&.showcase-bg {
					margin-left: -35px !important;
					width: calc(100% + 70px) !important;
					height: 16rem !important;
					background-attachment: fixed;
					background-repeat: no-repeat;
					background-size: cover;
					background-position-x: right;
				}

				img {
					width: 15rem;
					margin-top: -10rem;
					position: unset !important;
					right: unset !important;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.container {
		width: 100%;
	}
}