.twitch {
	padding-bottom: 0 !important;
	position: relative;

	.twitch-container {
		margin-top: -75px;
		margin-left: -75px;
		width: calc(100% + 150px);
		background: url(/img/section-bg/twitch.jpg) no-repeat;
		background-attachment: fixed;
		position: relative;

		p,
		h2 {
			color: #fff;
		}

		.twitch-content {
			padding: 50px 75px 50px;
			height: 100%;
		}

		.btn-danger {
			background: #cc240e;
			border-color: #cc240e;
			color: #ffffff !important;
			width: fit-content;

			&:hover {
				background: #d22;
				border-color: #d22;
			}
		}
	}
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 990px) {
	.twitch {
		margin-left: -35px;
		margin-right: -35px;

		.twitch-container {
			margin-top: -35px;
			margin-left: -35px;
			width: calc(100% + 70px);

			iframe {
				position: relative;
				width: 100%;
				height: 540px;
				margin-top: -35px;
			}

			.twitch-content {
				padding: 35px;
				height: auto;
			}
		}
	}
}

@media screen and (max-width: 480px) {}