.vertical-steps {
	.vertical-step {
		display: flex;
		flex-direction: row;

		.step-instructions,
		.step-code {
			flex: 1;
		}

		.step-instructions {
			min-width: 50%;

			.step-title {
				display: flex;

				code {
					margin-right: 1.25rem;
					margin-left: .25rem;
					margin-top: .5rem;
					border-radius: 50%;
					display: inline-block;
					width: 1.5rem;
					height: 1.5rem;
					text-align: center;
					background: #E09E36;
					line-height: 1.6rem;
					font-size: 1rem;
				}

				h3 {
					margin: .25rem 0 0;
					line-height: 2rem;
				}
			}

			.step-description {
				border-left: 2px solid #E09E36;
				margin: -.25rem 0 0 calc(1rem - 1px);
				padding: .5rem 2rem 2rem;
				height: 100%;
			}
		}

		.step-code {
			min-width: 48%;
			margin-top: 3rem;
			padding-bottom: 3rem;

			.theme-code-block {
				width: 100%;
			}
		}

		&:last-of-type {
			.step-instructions {
				.step-description {
					border-left: 1px solid transparent;
				}
			}
		}
	}
}

@media screen and (max-width: 1300px) {
	.vertical-steps {
		.vertical-step {
			flex-direction: column;
		}
	}
}