.fui-Button {
	display: flex;
	align-items: center;

	&.button-size-small {
		font-size: var(--text-ui-sm) !important;
		line-height: 1.2 !important;
		letter-spacing: .01em;
	}

	&.button-size-medium {
		font-size: var(--text-ui) !important;
		line-height: 1.25 !important;
		letter-spacing: .01em;
	}

	&.button-size-large {
		font-size: var(--text-ui-lg) !important;
		line-height: 1.25 !important;
		letter-spacing: .01em;
	}

	&.no-margin {
		margin-left: -23px !important;
	}

	.arrow {
		margin-left: 5px;
		margin-top: 2px;
		transition: all 0.2s ease-in-out;
		opacity: .8;
	}

	&.transparent {
		padding-left: 0;
		padding-right: 0;
	}

	&.only-icon {
		min-width: unset !important;
		padding-left: 8px !important;
		padding-right: 8px !important;

		.arrow {
			margin-top: 0 !important;
			margin-left: 0 !important;
			height: 20px;
		}
	}

	&:hover {
		.arrow {
			transform: rotate(45deg);
		}
	}
}
