.fui-Button {
	font-family: Consolas, "Courier New", monospace !important;
	font-weight: normal !important;
	width: fit-content;
	display: flex;
	align-items: center;

	&.no-margin {
		margin-left: -23px !important;
	}

	.arrow {
		margin-left: 5px;
		margin-top: 2px;
		transition: all 0.2s ease-in-out;
		opacity: .8;
	}

	&.transparent {
		padding-left: 0;
		padding-right: 0;
	}

	&:hover {
		.arrow {
			transform: rotate(45deg);
		}
	}
}