.events {
	background: url('/img/section-bg/line-up.jpg') no-repeat;
	background-attachment: local;
	background-size: cover;

	h1 {
		font-size: 3.5rem;
		line-height: 110%;
		margin: 0 0 2rem;
		text-align: center;
		color: #fff;
	}

	.event {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 3.5rem;

		&:last-of-type {
			padding-bottom: 0;
		}

		h3 {
			font-size: 2rem;
			line-height: 110%;
			text-transform: uppercase;
			margin: 0;
			color: #fff;

			a {
				color: #fff;
			}

			&:hover a {
				color: #1d5bbc;
				transition: none;
			}

			div:last-of-type {
				font-family: "Neutra Text Alt Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				position: relative;

				&::before {
					content: "//";
					position: absolute;
					left: -2rem;
					color: #ccc;
				}
			}
		}

		.event-line {
			display: flex;
			flex-direction: row;
			width: 100%;

			div:last-of-type {
				text-align: right;
				min-width: 10rem;
				margin-left: auto;
			}
		}

		p {
			margin: 0;
			color: #fff;
		}

		.fui-Button {
			color: #fff;
		}
	}
}