.personal-blog {
	display: grid;
	grid-template-columns: 1fr 350px;
	gap: 2rem;

	.widgets {
		margin-top: 220px;
		min-width: 350px;
	}
}

@media screen and (max-width: 1400px) {
	.personal-blog {
		display: grid;
		grid-template-columns: 1fr 300px;
		gap: 1.5rem;

		.widgets {
			margin-top: 220px;
			min-width: 300px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.personal-blog {
		display: grid;
		grid-template-columns: 1fr;

		.widgets {
			display: none;
		}
	}
}