.personal-blog {
	display: grid;
	grid-template-columns: calc(100% - 400px) 400px;
	gap: 2rem;

	.blog-feed {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: -webkit-fill-available;

		section {
			padding-top: 1rem;
			padding-bottom: 2rem;

			.section-content {
				.feed-item {
					display: flex;
					flex-direction: row;
					gap: 1rem;
					align-items: flex-end;
					margin-bottom: 1.5rem;

					.cover-image {
						max-width: 200px;
						margin-top: -3.5rem;
						aspect-ratio: 1.2 / 1;
						object-fit: cover;
						box-shadow: var(--shadow-sm);
					}

					.intro {
						flex: 1;

						h2,
						.skeleton-title {
							line-height: 120%;
							margin-bottom: .3rem;
						}

						.skeleton-title {
							width: 75%;
						}

						.metadata {
							font-style: italic;
							font-size: 1rem;

							.fui-SkeletonItem {
								width: 50%;
							}
						}

						.tag-group {
							display: flex;
							flex-direction: row;
							gap: 0.5rem;

							.fui-SkeletonItem {
								width: 75px;
								border-radius: 50px;

								&:first-of-type {
									width: 55px;
								}

								&:last-of-type {
									width: 60px;
								}
							}
						}
					}
				}

				p:not(.metadata) {
					margin-bottom: 1.5rem;
					font-size: 1.1rem;
					line-height: 1.8rem;

					.fui-SkeletonItem {
						margin-bottom: 0.6rem;

						&:last-of-type {
							width: 80%;
						}
					}
				}
			}
		}
	}

	.widgets {
		margin-top: 220px;
		min-width: 420px;
	}
}