.olawolff {
	.sales .section-content {
		display: flex;
		flex-direction: row;
		gap: var(--spacing-xl);

		.left {
			display: flex;
			flex-direction: column;

			img {
				width: fit-content;
			}

			img:nth-child(2) {
				margin-top: auto;
			}
		}

		.right {
			display: flex;
			flex-direction: column;
			gap: 1.5rem;
		}
	}

	.chat-features {
		gap: 4rem;
		margin-top: 2rem;
		display: block;
		column-count: 2;

		.chat-feature {
			margin-bottom: 4rem;

			&:nth-child(2) {
				padding-top: 10rem;
			}

			&:nth-child(3) {
				padding-top: 15rem;
			}

			&:nth-child(4) {
				padding-top: 15rem;
			}
		}

		h3 {
			margin-bottom: 0.5rem;
		}
	}

	.image-hero-wolff {
		width: 100%;
	}

	.backend {
		.images {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1rem;
			margin-top: 1.5rem;

			img {
				width: 100%;
			}
		}

		.backend-item {
			margin-top: 2rem;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			h4 {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media screen and (max-width: 850px) {
	.olawolff {
		.sales .section-content {
			flex-direction: column;
			gap: var(--spacing-xl);

			.left {
				display: flex;
				flex-direction: row;

				img:nth-child(2) {
					margin-top: 0;
					margin-left: auto;
				}
			}
		}

		.chat-features {
			column-count: 1;

			.chat-feature {
				img {
					margin-bottom: .5rem;
				}

				&:nth-child(2),
				&:nth-child(4),
				&:nth-child(3) {
					padding-top: 0;
				}
			}

			h3 {
				margin-bottom: 0.5rem;
			}
		}
	}
}

@media screen and (max-width: 620px) {
	.olawolff {
		.sales .section-content {
			.left {
				flex-direction: column;

				img:nth-child(1) {
					margin: 0 auto;
				}

				img:nth-child(2) {
					margin-top: 1rem;
					margin-left: 0;
				}
			}
		}
	}
}