.talk {
	position: relative;

	iframe {
		width: 100%;
		margin: 0 auto 2rem;
		box-shadow: 0 4px 2rem rgba(0, 0, 0, 0.25);
		aspect-ratio: 16 / 9;
		height: auto;
		overflow-x: hidden;
		scroll-margin-top: 75px;
	}

	.description {
		display: flex;
		gap: 2rem;

		iframe {
			box-shadow: none;
		}

		p {
			margin: 1rem 0 5rem;
		}
	}

	.metadata {
		position: sticky;
		top: 2rem;
		min-width: 240px;
		max-width: 240px;
		height: fit-content;

		a,
		button {
			width: 100%;
			justify-content: flex-start;
			margin-bottom: .5rem;
		}
	}
}

.to-present-talk {
	h3 {
		color: var(--dark-blue);
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.1rem;
			padding: .2rem 0;
			line-height: 135%;
			transition: all .3s ease-in-out;
			color: var(--dark-blue);
			cursor: pointer;

			&:hover {
				padding-left: .5rem;
				color: var(--accent-color);
			}
		}
	}
}