.talk {
	position: relative;

	iframe {
		width: 100%;
		margin: 0 auto 2rem;
		box-shadow: 0 4px 2rem rgba(0, 0, 0, 0.25);
		aspect-ratio: 16 / 9;
		height: auto;
		overflow-x: hidden;
		scroll-margin-top: 75px;
	}

	.description {
		display: flex;
		gap: 5rem;

		iframe {
			box-shadow: none;
		}
	}

	.metadata {
		position: sticky;
		top: 2rem;
		min-width: 200px;
		max-width: 200px;
		height: fit-content;

		a,
		button {
			width: 100%;
			justify-content: flex-start;
			margin-bottom: .5rem;
		}
	}
}