.notion {
	padding: var(--spacing-lg);
	padding-left: 0;
	padding-top: 25vh;
}

.notion-h-title {
	display: block;
	font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 2rem 0 .5rem;
	color: #000;
	line-height: 120%;
}

.notion-inline-code {
	font-size: .9rem;
	line-height: .9rem;
	background: #f5f5f5;
	padding: 4px 8px;
	border: 1px solid #ccc;
	border-radius: 30px;
}

.notion-code {
	margin-bottom: 1rem;
}

.notion-text,
.notion-quote {
	font-size: 1.1rem;
	line-height: 2rem;
	margin: 0.2rem 0 2rem;
	font-weight: 400;
	color: #666;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.notion-blank,
.notion-hash-link {
	display: none;
}

.notion-row {
	display: flex;

	.notion-column {
		margin-right: 1rem;
	}
}

.notion-yt-lite {
	background-color: #000;
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	contain: content;
	background-position: center center;
	background-size: cover;
	cursor: pointer;
}

.notion-yt-lite::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
	background-position: top;
	background-repeat: repeat-x;
	width: 100%;
	height: 60px;
	padding-bottom: 50px;
	transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
}

.notion-yt-lite > iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.notion-yt-playbtn {
	width: 68px;
	height: 48px;
	position: absolute;
	cursor: pointer;
	transform: translate3d(-50%, -50%, 0);
	top: 50%;
	left: 50%;
	z-index: 1;
	background-color: transparent;
	/* YT's actual play button svg */
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
	filter: grayscale(100%);
	transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
	border: none;
}

.notion-yt-lite:hover > .notion-yt-playbtn,
.notion-yt-youtube .notion-yt-playbtn:focus {
	filter: none;
}

.notion-yt-initialized {
	cursor: unset;
}

.notion-yt-initialized::before,
.notion-yt-initialized > .notion-yt-playbtn {
	opacity: 0;
	pointer-events: none;
}

.notion-yt-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.notion-code {
	position: relative;

	.notion-code-copy {
		position: absolute;
		right: .5rem;
	}
}

@media screen and (max-width: 990px) {
	article.post {
		.notion-row {
			display: block !important;

			.notion-column {
				margin-right: 0 !important;
			}
		}
	}
}