article.post {
	position: relative;
	z-index: 9;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #fff;

	.header {
		width: 45%;
		position: absolute;
		overflow: hidden;
		height: 100%;
		background-color: #222;
		z-index: 0;

		img {
			display: block;
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			height: 100vh;
			object-fit: cover;
			-moz-transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			transform: translateY(-50%)
		}

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 0
		}

		.info {
			margin: var(--spacing-lg);
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			padding-left: 1.5rem;
			height: calc(100% - (var(--spacing-lg) * 2));

			.info-title {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h1,
				.meta {
					color: #fff;
				}

				h1 {
					font-size: 2.5rem;
					line-height: 120%;
					font-weight: 700;
				}

				.meta {
					font-size: 1rem;
					font-family: 'Consolas', monospace;

					&::after {
						content: "";
						display: inline-block;
						width: 1.2rem;
						margin: 0 .8rem 4px;
						height: 1px;
						color: inherit;
						border-top: 2px solid
					}
				}

				.fui-Tag {
					color: #fff !important;
					border-width: 2px !important;
					border-color: var(--gold) !important;
				}
			}
		}
	}

	.post-wrapper {
		width: 55%;
		margin-left: 45%;
		height: auto;

		li {
			margin: 0;
			font-size: 1.1rem;
			line-height: 150%;
		}
	}
}

@media screen and (min-width: 2200px) {
	article.post {
		.header {
			width: calc(50% - 625px);

			.see-posts-button {
				display: none;
			}
		}

		.post-wrapper {
			width: 1250px;
			padding: 60px 120px;
			margin: auto;
		}
	}
}

@media screen and (max-width: 990px) {
	article.post {
		overflow: visible;
		position: absolute;

		.header,
		.post-wrapper {
			width: 100%;
			position: relative;
			height: auto;
			padding: 60px;
		}

		.header {
			.info {
				margin: 6rem 0 12rem;

				h1 {
					margin-bottom: .2rem;
				}
			}
		}

		.post-wrapper {
			margin-left: 0;
			overflow: visible;
			box-shadow: none;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: 540px) {
	article.post {

		.header,
		.post-wrapper {
			padding: 35px;
			z-index: 10;
		}
	}
}