article.post {
	position: relative;
	z-index: 9;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-color: #fff;

	.header {
		width: 45%;
		position: absolute;
		overflow: hidden;
		height: 100%;
		background-color: #222;
		z-index: 0;

		.noise-image {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;

			img {
				transition: transform 0.5s ease;
			}
		}

		&:hover .noise-image img {
			transform: scale(1.05);
		}

		.overlay {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(0, 0, 0, 0.4);
			z-index: 0
		}

		.info {
			margin: var(--spacing-lg);
			position: relative;
			z-index: 1;
			display: flex;
			flex-direction: column;
			padding-left: 1.5rem;
			height: calc(100% - (var(--spacing-lg) * 2));

			.info-title {
				display: flex;
				flex-direction: column;
				gap: 1rem;

				h1,
				.meta {
					color: #fff;
				}

				h1 {
					font-size: 2.5rem;
					line-height: 120%;
					font-weight: 700;
				}

				.meta {
					font-size: 1rem;
					font-family: 'Consolas', monospace;

					&::after {
						content: "";
						display: inline-block;
						width: 1.2rem;
						margin: 0 .8rem 4px;
						height: 1px;
						color: inherit;
						border-top: 2px solid
					}
				}

				.fui-Tag,
				.fui-InteractionTagPrimary {
					color: #fff !important;
					border-width: 2px !important;
					border-color: var(--gold) !important;

					&:hover {
						background-color: var(--gold) !important;
						color: #000 !important;
						transition: all 0.3s ease;
					}
				}
			}
		}
	}

	.post-wrapper {
		width: 55%;
		margin-left: 45%;
		height: 100%;
		overflow-y: scroll;
		padding-left: var(--spacing-lg);

		a {
			color: var(--accent-color);
			text-decoration: underline;
			transition: all 0.2s ease;

			&:hover {
				color: var(--dark-blue);
				text-decoration-thickness: 2px;
			}
		}

		li {
			margin: 0;
			font-size: 1.1rem;
			line-height: 150%;
		}
	}
}

@media screen and (min-width: 1700px) {
	article.post {
		.header {
			width: 35%;
		}

		.post-wrapper {
			margin-left: 35%;
			width: 65%;

			main.notion {
				width: 65%;
			}
		}
	}
}

@media screen and (min-width: 2200px) {
	.sidepane {
		&.break-point-2200 main.panel {
			margin-left: 465px !important;
		}
	}

	article.post {
		.header {
			width: 820px;
		}

		.post-wrapper {
			margin-left: 900px;
			width: calc(100% - 900px);

			main.notion {
				width: 50%;
			}
		}
	}
}

@media screen and (max-width: 990px) {
	article.post {
		overflow: visible;
		position: relative;

		.header,
		.post-wrapper {
			width: 100%;
			position: relative;
			height: auto;
			padding: var(--spacing-lg);
		}

		.header {
			max-height: 45vh;

			.info {
				margin: 6rem 0 12rem;
				padding-left: 0;

				h1 {
					margin-bottom: .2rem;
				}
			}
		}

		.post-wrapper {
			margin: 0;
			height: fit-content;
			background: #fff;
			overflow: visible;

			main.notion {
				padding: 0;
				margin: 0;
			}
		}
	}
}

@media screen and (max-width: 540px) {
	article.post {

		.header,
		.post-wrapper {
			padding: 35px;
			z-index: 10;
		}

		.header {
			max-height: auto;

			.info {
				margin: 1rem 0;
			}
		}
	}
}