.hero {
	background: #1b1b1b;
	height: 65vh;
	position: relative;
	background-attachment: fixed;
	background-size: contain;

	.hero-overlay {
		background: rgba(0, 0, 0, .65);
		width: 100%;
		height: 65vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.hero-inner {
		position: relative;
		z-index: 5;
		height: 65vh;

		.container {
			position: absolute;
			left: 50%;
			transform: translate(-50%, 0);
			bottom: calc(180px + var(--spacing-lg));
			padding: 0 var(--spacing-xl);
		}

		h1 {
			font-size: 3rem;
			color: #fff;
		}

		p {
			font-size: 1.5rem;
			line-height: 125%;
			font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			color: #f5f5f5;
		}
	}
}

.bg-wolf {
	background-image: linear-gradient(to bottom right, #00782E, #B8C72C) !important;
}

.page-hero-next-item {
	position: relative;
	margin-top: -180px !important;
	z-index: 10;
}

@media screen and (max-width: 1200px) {
	section {
		&.page-hero-next-item {
			margin-top: 0 !important;
		}
	}
}

@media screen and (max-width: 990px) {
	.hero {
		height: auto;
		padding: 150px 0 100px;
		white-space: normal;
		width: 100%;
		overflow: hidden;

		.hero-inner {
			position: relative !important;
			padding: 0 30px !important;
			margin-left: 25px !important;
			bottom: 0 !important;

			h1 {
				font-size: 2.4em;
				overflow: hidden;
				padding-right: 0;
				white-space: normal;
				letter-spacing: 0;
				width: auto;
			}
		}
	}

	.page-hero-next-item {
		margin-top: -60px !important;
	}
}

@media screen and (max-width: 750px) {
	.hero {
		padding: 0 0 var(--spacing-lg);
	}

	.page-hero-next-item {
		margin-top: -25px !important;
		;
	}
}

@media screen and (max-width: 480px) {
	.page-hero-next-item {
		margin-top: 0 !important;

		section:first-of-type {
			padding-top: 35px;
		}
	}

	.hero {
		padding-bottom: 35px;

		.hero-inner {
			margin-top: 2rem;

			.project-icon {
				max-width: 80px;
				right: 10px;
				bottom: 0;
				top: auto;
			}
		}

		.hero-overlay {
			height: auto;
		}
	}
}