@use './../components/Socials/Social.scss';
@use './../components/Sidepane/sidepane.scss';
@use './../components/PageHero/PageHero.scss';
@use './../components/Section/Section.scss';
@use './../sections/Footer/Footer.scss';