@use './../components/Socials/Social.scss';
@use './../components/Button/button.scss';
@use './../components/Sidepane/sidepane.scss';
@use './../components/PageHero/PageHero.scss';
@use './../components/Section/Section.scss';
@use './../components/NoiseImage/noise-image.scss';
@use './../sections/Footer/Footer.scss';
@use './../modules/Blog/Blog.scss';
@use './../modules/Portfolio/portfolio.scss';
@use './../components/PhotoGallery/photo-gallery.scss';
@use './../components/VerticalStepper/vertical-stepper.scss';
@use './../components/NextProject/NextProject.scss';