.fui-FluentProvider {
	--lineHeightBase300: inherit !important;
	--fontFamilyBase: inherit !important;
	--fontWeightRegular: inherit !important;
	--colorNeutralForeground1: inherit !important;
	--colorNeutralForegroundOnBrand: #fff !important; // remover quando tirar o a:visited do heartthrob
}

.fui-Button {
	font-family: Consolas, "Courier New", monospace !important;
	font-weight: normal !important;
}