body {
	font-size: 15px;
	line-height: 2em;
	color: #5f5f5f;
	position: relative;
	background: #e8e8e8
}

.container {
	width: 1500px;
	margin: 0 auto;

	&::after {
		content: '\0020';
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.wrapper {
	padding: 75px;
}

@media screen and (max-width: 1500px) {
	.container {
		max-width: 1400px;
		width: 100%;
	}

	.container {
		width: 100%;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		max-width: 1300px;
	}
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 1040px;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		max-width: 980px;
	}

	.wrapper {
		padding: 35px;
	}
}

@media screen and (max-width: 1000px) {
	.container {
		max-width: 100%;
		padding: 0 1rem;
	}
}

@media screen and (max-width: 800px) {
	.container {
		max-width: 100%;
		padding: 0;
	}
}

.sameheight {
	display: flex;
	align-items: stretch;
	padding-bottom: 1rem;

	section {
		margin-bottom: 0;
		height: 100%;
	}
}

.img-helper {
	max-width: 100%;
	width: auto;
	height: auto;
}

.container.logo {
	position: relative;
	height: 0;
	display: block;

	img {
		max-width: 200px;
		position: relative;
		z-index: 20;
		top: 50px;
		left: -5px;
	}
}

.logo-post {
	img {
		position: absolute;
		z-index: 20;
		top: 35px;
		left: 123px;
		max-width: 170px;
	}

	&.colorized {
		img {
			left: 70px
		}
	}
}

.aling-itens-to-right {
	display: flex;
	justify-content: flex-end;
}

.flex {
	display: flex;
	gap: 2rem;
	justify-content: space-between;

	& > * {
		flex: 1;
	}

	&.grid {
		display: block;
		column-count: 2;
		margin-bottom: 3rem;

		& > * {
			break-inside: avoid;
			display: inline-block;
			width: 100%;
		}
	}

	&.not-equal {
		justify-content: flex-start;

		& > * {
			flex: none;
		}
	}
}

@media screen and (max-width: 1300px) {
	.logo-post {
		&.colorized img {
			left: 42px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.container.logo {
		img {
			left: 0;
		}
	}

	.flex {
		display: block;
	}
}

@media screen and (max-width: 990px) {
	.logo-post {
		img {
			left: 105px;
		}

		&.colorized img {
			left: 32px;
		}
	}

	.sameheight {
		display: block;

		section {
			margin-bottom: 2rem;
		}
	}
}

@media screen and (max-width: 480px) {
	.logo-post {
		&.colorized img {
			left: 22px;
		}
	}
}