.sameheight {
	display: flex;
	align-items: stretch;
	padding-bottom: 1rem;

	section {
		margin-bottom: 0;
		height: 100%;
	}
}

.img-helper {
	max-width: 100%;
	width: auto;
	height: auto;
}

.container.logo {
	position: relative;
	height: 0;
	display: block;

	img {
		max-width: 200px;
		position: relative;
		z-index: 20;
		top: 50px;
		left: -5px;
	}
}

.logo-post {
	img {
		position: absolute;
		z-index: 20;
		top: 35px;
		left: 123px;
		max-width: 170px;
	}

	&.colorized {
		img {
			left: 70px
		}
	}
}

.svg-inline--fa {
	display: inline-block;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
	overflow: visible;
	box-sizing: content-box;
}

.aling-itens-to-right {
	display: flex;
	justify-content: flex-end;
}

.flex {
	display: flex;
	gap: 2rem;
	justify-content: space-between;

	& > * {
		flex: 1;
	}

	&.not-equal {
		justify-content: flex-start;

		& > * {
			flex: none;
		}
	}
}

@media screen and (max-width: 1300px) {
	.logo-post {
		&.colorized img {
			left: 42px;
		}
	}
}

@media screen and (max-width: 1200px) {
	.container.logo {
		img {
			left: 0;
		}
	}

	.flex {
		display: block;
	}
}

@media screen and (max-width: 990px) {
	.logo-post {
		img {
			left: 105px;
		}

		&.colorized img {
			left: 32px;
		}
	}

	.sameheight {
		display: block;

		section {
			margin-bottom: 2rem;
		}
	}
}

@media screen and (max-width: 480px) {
	.logo-post {
		&.colorized img {
			left: 22px;
		}
	}
}