.links {
	background: #1b1b1b;
	height: 100vh;
	overflow: hidden;
	position: relative;
	background-attachment: fixed;
	background-size: cover;
	background-image: url(/img/pages/404.jpg);
	background-position-x: center;

	.overlay {
		background: rgba(27, 27, 27, 0.5);
		width: 100%;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
	}

	.links-wrapper {
		width: 300px;
		margin: 0 auto;
		margin-top: 2rem;
	}

	.btn {
		border-color: #fff;
		color: #fff !important;
		z-index: 5;
		position: relative;
		font-family: Consolas, "Courier New", Courier, monospace;
		margin-bottom: 0.8em;
		width: calc(100% - 2em);
		font-size: 1em;
		background: transparent;
	}

	.logo {
		position: absolute;
		z-index: 4;
		width: 100px;
		bottom: 2em;
		left: calc(50% - 50px);

		img {
			max-width: 100px;
		}
	}
}