body {
	background: #e8e8e8;
}

.container {
	width: 1300px;
	margin: 0 auto;
}

@media screen and (max-width: 1500px) {
	.container {
		width: 1200px;
	}
}

@media screen and (max-width: 1400px) {
	.container {
		width: 1100px;
	}
}

@media screen and (max-width: 1300px) {
	.container {
		width: 990px;
	}
}

@media screen and (max-width: 1100px) {
	.container {
		width: calc(100% - var(--spacing-lg));
	}
}