@font-face {
	font-family: 'Neutra Text Alt Italic';
	src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot');
	src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neutra Text Alt';
	src: url('/fonts/Neutra/NeutraText-BookAlt.eot');
	src: url('/fonts/Neutra/NeutraText-BookAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraText-BookAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraText-BookAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraText-BookAlt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neutra Text Alt Bold';
	src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot');
	src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

h1,
h2 {
	font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 150%;
}

h2 {
	font-size: 2em;
	line-height: 135%;
}

h3 {
	font-size: 1.3em;
	font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: .5rem;
	font-size: 1rem;
	color: #666;
	line-height: 135%;
}

em {
	font-style: italic
}

* p:last-child {
	margin-bottom: 0
}

blockquote p {
	margin-bottom: 0;
	text-align: left
}

a {
	text-decoration: none;
	color: inherit;
}