@font-face {
    font-family: 'Neutra Text Alt Italic';
    src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot');
    src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff2') format('woff2'),
        url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff') format('woff'),
        url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Text Alt';
    src: url('/fonts/Neutra/NeutraText-BookAlt.eot');
    src: url('/fonts/Neutra/NeutraText-BookAlt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Neutra/NeutraText-BookAlt.woff2') format('woff2'),
        url('/fonts/Neutra/NeutraText-BookAlt.woff') format('woff'),
        url('/fonts/Neutra/NeutraText-BookAlt.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neutra Text Alt Bold';
    src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot');
    src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff2') format('woff2'),
        url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff') format('woff'),
        url('/fonts/Neutra/NeutraTextTF-BoldAlt.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

h1,
h2 {
    font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 150%;
}

h2 {
    font-size: 2em;
    margin-bottom: 0
}

h3 {
    font-size: 1.5em;
    font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

p {
    margin-bottom: 2rem;
    font-size: 1.1rem
}

* p:last-child {
    margin-bottom: 0
}

blockquote p {
    margin-bottom: 0;
    text-align: left
}

.btn,
button {
    border: 0.067em solid #c3c3c3;
    font-family: 'Consolas', 'Courier New';
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    line-height: 140%;
    font-size: 1em;
    background: #c3c3c3;
    color: #fff !important;
    min-height: 2.000em;
    min-width: 7.333em;
    padding: 0.667em 1.000em 0;
    cursor: pointer;
    border-radius: 0;
    display: inline-block;
    text-align: left;
    box-sizing: content-box;

    &:hover {
        border-color: #1d5bbc;
        background: #1d5bbc;
        color: #ffffff !important;
        -moz-transition: all 0.29s;
        -o-transition: all 0.29s;
        -webkit-transition: all 0.29s;
        transition: all 0.29s;
    }

    &:disabled {
        background: #665;
        border-color: #665;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        cursor: not-allowed;
    }

    svg {
        font-size: 12px;
        margin-right: 5px;
    }

    &.btn-primary {
        background: #0078d7;
        border-color: #0078d7;
        color: #ffffff !important;
    }
}

.btn-link {
    background: transparent;
    border-color: transparent;
    color: #0078d7 !important;
    padding-left: 0;
}

.btn-link:hover {
    background: transparent;
    color: #1d5bbc !important;
    border-color: transparent;
}

a.btn-link {
    text-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
    box-shadow: none;
}