@font-face {
	font-family: 'Neutra Text Alt Italic';
	src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot');
	src: url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraTextTF-BookItalicAlt.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Neutra Text Alt';
	src: url('/fonts/Neutra/NeutraText-BookAlt.eot');
	src: url('/fonts/Neutra/NeutraText-BookAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraText-BookAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraText-BookAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraText-BookAlt.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Neutra Text Alt Bold';
	src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot');
	src: url('/fonts/Neutra/NeutraTextTF-BoldAlt.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff2') format('woff2'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.woff') format('woff'),
		url('/fonts/Neutra/NeutraTextTF-BoldAlt.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: var(--dark-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 2.5em;
	line-height: 150%;
}

h2 {
	font-size: 2rem;
	font-weight: 800;
	line-height: 135%;
}

h3 {
	font-size: 1.8rem;
	font-weight: 600;
}

h4 {
	font-size: 1.3rem;
	font-weight: 600;
}

h5 {
	font-size: 1.1rem;
	font-weight: 600;
}

p {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin-bottom: .5rem;
	font-size: 1.1rem;
	color: var(--default-text);
	line-height: 1.8rem;
}

small {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 0.9rem;
	color: var(--light-gray);
	line-height: 120%;
}

em {
	font-style: italic
}

* p:last-child {
	margin-bottom: 0
}

blockquote p {
	margin-bottom: 0;
	text-align: left
}

a {
	text-decoration: none;
	color: inherit;
}

::selection {
	background: #000;
	color: #fff;
}