.content {
	position: absolute;
	top: 0;
	left: var(--sidebar-width);
	width: 400px;
	height: 100vh;
	background: #f8f8f8;
	display: flex;
	flex-direction: column;
	z-index: 900;

	.sidepane-inner {
		display: flex;
		flex-direction: column;
		height: 100%;
	}

	.menu {
		display: flex;
		flex-direction: column;
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
		padding: 1.875rem 1.875rem 0;

		.menu-link {
			font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 1.1rem;
			padding: .2rem 0;
			line-height: 135%;
			transition: all .3s ease-in-out;
			color: var(--dark-blue);

			&:hover {
				margin-left: .5rem;
				color: var(--accent-color);
			}
		}
	}

	.footer {
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.2s ease-out, visibility 0s linear 0.2s;
		margin-top: auto;
		padding: 1.875rem;
		display: flex;
		flex-direction: column;
		gap: 2.625rem;

		.barcode {
			width: 80px;
			height: auto;
		}

		.text {
			font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			color: var(--light-gray);
			transition: all .3s ease-in-out;
			font-size: 1rem;

			small {
				font-size: 0.8rem;
				line-height: 100%;
			}
		}

		.contact-info {
			a {
				display: block;
			}

			.handle {
				font-weight: 00;
				margin-bottom: .5rem;

				&:hover {
					color: var(--dark-blue);
				}
			}

			.email {
				font-family: 'Neutra Text Alt Bold', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1.8rem;
				color: var(--dark-blue);
				transition: all .3s ease-in-out;

				&:hover {
					color: var(--accent-color);
				}
			}
		}

		.social a {
			opacity: 0;
			margin-bottom: .5rem;

			img {
				filter: brightness(0) invert(0.6);
				transition: all .3s ease-in-out;

				&:hover {
					filter: brightness(0) invert(0.3);
				}
			}
		}
	}
}

@media (max-width: 650px) {
	.content {
		left: 0;
		top: var(--sidebar-width);
		width: 100%;
		height: auto;

		.force-vertical {
			display: flex;

			.logo {
				width: var(--sidebar-width);
				border-right: 1px solid #ddd;
				padding-top: 1.5rem;
				display: flex;
				justify-content: space-around;
				align-items: flex-start;
			}
		}

		.menu {
			margin-bottom: 5rem;
		}
	}

	nav.exploded + .content {
		height: calc(100vh - var(--sidebar-width));

		.force-vertical {
			height: 100%;
		}
	}
}