.sidepane {
	width: 35%;
	min-width: 540px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1.5rem 2rem;

	.logo {}

	.cards {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		width: 100%;
		margin-left: 300px;
		flex-grow: 1;
		justify-content: center;

		.card {
			display: grid;
			grid-template-columns: 1fr auto;
			background: #fff;
			box-shadow: var(--shadow-sm);
			width: 600px;
			z-index: 3;
			padding-right: 3rem;
			height: 8rem;

			.icon {
				aspect-ratio: 1 / 1;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.details {
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin-left: 1rem;

				h2 {
					margin-bottom: .3rem;
					font-size: 1.5rem;
				}

				p {
					font-size: .9rem;
				}
			}

			&:hover {
				background: #f5f5f5;
				box-shadow: var(--shadow);
				transition: all .3s ease;
			}
		}
	}

	.footer {}
}