.fancy-table {
	padding: 2rem 0;

	.ft-row {
		display: flex;
		margin: 0 calc(var(--spacing-lg) * -1);
		padding: 0 var(--spacing-lg);
		position: relative;
		overflow: hidden;

		.ft-bg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			transition: opacity .4s ease;
			z-index: 0;

			.noise-image {
				border-radius: 0;
			}
		}

		.ft-row-content {
			position: relative;
			z-index: 1;
			width: 100%;
			display: grid;
			grid-template-columns: 1.5fr 1fr 5rem;
			gap: 10rem;
			padding: 2rem 0;
			align-items: center;

			h4 {
				font-family: "Neutra Text Alt Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
				font-size: 1.6rem;
				letter-spacing: -1px;
				color: var(--dark-blue);
				line-height: 4rem;
			}

			p {
				opacity: 0;
				font-size: 14px;
				line-height: 1.2rem;
				font-weight: 500;
				color: #fff;
			}

			&:hover {
				h4 {
					color: #fff;
				}

				p {
					opacity: 1;
				}
			}
		}

		&:not(.header):hover {
			.ft-bg {
				opacity: 1;
			}

			.fui-Button {
				.arrow {
					transform: rotate(45deg);
				}
			}
		}

		&.header {
			.ft-row-content {
				padding: 2rem 0 .5rem;

				p {
					opacity: 1;
					color: var(--default-text);
				}
			}
		}
	}
}