.awards {
	display: flex;
	justify-content: space-between;
	gap: 5rem;

	.award {
		span {
			font-family: 'Neutra Text Alt', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
			font-size: 2.5rem;
			letter-spacing: -5px;
			color: #9999AA;
			margin-right: 1rem;
		}

		img {
			height: 70px;
		}
	}
}